<h1 class="titulo">Dados sobre a violência domestica.</h1>


<p class="corpo">No dia 10 de outubro de 1980, um grupo de mulheres se reuniu nas escadas do teatro municipal
  de São Paulo para se manifestar contra o aumento de casos de violência de gênero no Brasil.

  Desde então, a data é lembrada como Dia Nacional de Luta contra a Violência à Mulher,
  ainda hoje é preciso trazer o assunto a tona e discutir os meios de diminuir os crimes contra mulheres.
</p>

<P class="titulo">Seguem alguns dados que retratam essa violência:</P>


<ul class="disc">

  <li><a class="link" href="#abrirModal1">Uma mulher é morta a cada sete horas por ser mulher</a>

    <div id="abrirModal1" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
        O dado mais recente sobre feminicídios é do Fórum Brasileiro de Segurança Pública,
        que no ano passado divulgou um levantamento mostrando que, em 2018,
        1206 mulheres foram assassinadas. As mortes, porém foram registradas como feminicídio.
        Ou seja, quando a vitima morre por causa do seu gênero;
        Nove em cada dez casos, a mulher foi morta por um companheiro ou ex-companheiro.
        o número cresceu 11% em relação a 2017.
      </h2>
    </div>
  </li>

  <li><a class="link" href="#abrirModal2">País esta em 5º lugar no ranking mundial do feminicídio.</a>
    <div id="abrirModal2" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
        Segundo a OMS (Organização Mundial da Saúde), o Brasil está no 5º lugar dos paises que mais matam
        mulheres no mundo no contexto de violência doméstica. O ranking é feito de 84 países.
      </h2>
    </div>
  </li>

  <li><a class="link" href="#abrirModal3">Uma mulher sofre violência doméstica a cada dois minutos.</a>
    <div id="abrirModal3" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
        Em 2018, foram registrados 263.067 de lesão corporal dolosa dentro da Lei Maria da Penha. Isso significa que, a
        cada dois minutos, uma mulher apanhou do marido, namorado ou ex-companheiro.
      </h2>
    </div>
  </li>

  <li><a class="link" href="#abrirModal4">Brasil bateu recordes de registros de estupro.</a>
    <div id="abrirModal4" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
        Brasil bateu recordes de registros de estupro Segundo o Fórum Brasileiro de Segurança Pública, os registros de
        violência sexual vem crescendo anualmente e, no levantamento divulgado em 2019, referente a 2018, bateu o
        recorde de 66.041 casos.
        A média é de 180 crimes por dia, um aumento de 4% em relação ao ano anterior. Em 81,8% deles, as vítimas eram
        mulheres....
      </h2>
    </div>
  </li>

  <li><a class="link" href="#abrirModal5">Uma menina de até 13 anos é estuprada a cada 15 minutos.</a>
    <div id="abrirModal5" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
        O país vive uma trágica epidemia de violência sexual contra menores.
        Também segundo o fórum, uma menina de até 13 anos é estuprada a cada 15 minutos, elas são 53,8% das vítimas.
        Isso impulsiona outro dado alarmante: 75,9% dos agressoressãoconhecidos das vítimas,
        em sua maioria padrastos, pais, tios, primos, vizinhos e amigos da família.

      </h2>
    </div>
  </li>

  <li><a class="link" href="#abrirModal6">Violência não é só física: agressões psicológicas crescem anualmente.</a>
    <div id="abrirModal6" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
        Abarcada pela Lei Maria da Penha, a violência psicológica também é uma das várias formas de agressões que as
        mulheres sofrem. Mas uma das mais perigosas: muitas vezes, nem a própria vítima se dá conta de que o que sofre é
        um crime.
        Por isso, muitas mulheres não chegam a denunciar os casos, que incluem ofensas, ameaças e humilhações verbais.
        Os números são mais escassos, mas é possível se ter uma ideia no aumento no número de crimes a partir de um
        estudo feito no estado do Rio de Janeiro,
        o Dossiê Mulher 2019, que registrou aumento de 2017 para 2018 —foram 34.348 mulheres ameaçadas em 2017 e 37.423
        no ano seguinte. Vítimas de constrangimento ilegal passaram de 393 em 2017 para 404 em 2018.
      </h2>
    </div>
  </li>

  <li><a class="link" href="#abrirModal7">Quase metade das brasileiras já sofreu assédio sexual no trabalho.</a>
    <div id="abrirModal7" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
        Estudo divulgado no começo de outubro deste ano, com levantamento feito pelo Linkedin e pela consultoria Think
        Eva,
        mostrou que 47% das entrevistadas já sofreu assédio sexual no trabalho. Dessas, 15% pediram demissão após o
        ocorrido, e 5% denunciaram ao RH da empresa.
      </h2>
    </div>
  </li>

  <li><a class="link" href="#abrirModal8">Uma em cada quatro mulheres é vitima de de violência obstétrica na hora do
      parto.</a>
    <div id="abrirModal8" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
        As agressões contra mulheres acontecem também no momento de dar à luz. A pesquisa mais abrangente já feita sobre
        é da Fundação Perseu Abramo e foi publicada em 2010.
        O estudo "Mulheres nos espaços público e privado brasileiros" mostra que uma em cada quatro mulheres já foram
        vítimas dessa violência, tanto pelo sistema público de saúde quanto pelo privado.
      </h2>
    </div>
  </li>

  <li><a class="link" href="#abrirModal9">Brasil é lanterna no ranking de paridade política de gênero na América
      Latina.</a>
    <div id="abrirModal9" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
        Um recente estudo divulgado pela ONU Mulheres sobre paridade política de gênero na América Latina mostrou que,
        entre os 11 países analisados, o Brasil fica em nono lugar, à frente apenas do Chile e do Panamá.
        Uma das explicações para isso é a chamada violência política de gênero. São os ataques voltados às mulheres
        eleitas ou candidatas e que se direcionam diretamente ao gênero.
        Assim, são críticas pela aparência, pela via da sexualidade ou chamadas de "loucas" e suas variáveis.
      </h2>
    </div>
  </li>

  <li><a class="link" href="#abrirModal10">Uma mulher trans é assassinada a cada três dias.</a>
    <div id="abrirModal10" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
        Segundo dados da Antra (Associação Nacional de Travestis e Transexuais), em 2019 foram mortas 124 pessoas trans.
        Dos assassinatos de transexuais, 94% das vítimas se identificavam como mulheres.
        O dado coloca o Brasil como o país com o maior número de assassinatos de travestis e trans em todo o mundo,
        segundo a ONG Transgender Europe.
      </h2>
    </div>
  </li>

<div class="botao">
  <a href="https://www.gov.br/pt-br/servicos/denunciar-e-buscar-ajuda-a-vitimas-de-violencia-contra-mulheres"><button style="background: #c2185b; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">Clique aqui para denunciar</button></a>
</div>
