#http://lucasmaiaesilva.com.br/posts/criando-modal-simples-com-html-e-css/

<h1 class="titulo">Dados sobre a violência domestica</h1>


<p>No dia 10 de outubro de 1980, um grupo de mulheres se reuniu nas escadas do teatro municipal
  de São Paulo para se manifestar contra o aumento de casos de violência de gênero no Brasil.

  Desde então, a data é lembrada como Dia Nacional de Luta contra a Violência à Mulher,
  ainda hoje é preciso trazer o assunto a tona e discutir os meios de diminuir os crimes contra mulheres.
</p>

<P class="titulo">Seguem alguns dados que retratam essa violência.</P>


<ul class="disc">
	<li><a href="#abrirModal">Uma mulher é morta a cada sete horas por ser mulher</a>

    <div id="abrirModal" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
      O dado mais recente sobre feminicídios é do Fórum Brasileiro de Segurança Pública,
      que no ano passado divulgou um levantamento mostrando que, em 2018,
      1206 mulheres foram assassinadas. As mortes, porém foram registradas como feminicídio.
      Ou seja, quando a vitima morre por causa do seu gênero;
      Nove em cada dez casos, a mulher foi morta por um companheiro ou ex-companheiro.
      o número cresceu 11% em relação a 2017.
    </h2>
    </div></li>

    <li><a href="#abrirModal">País esta em 5º lugar no ranking mundial do feminicídio.</a>
    <div id="abrirModal" class="modal">
      <a href="#fechar" title="Fechar" class="fechar">x</a>
      <h2>
      Segundo a OMS (Organização Mundial da Saúde), o Brasil está no 5º lugar dos paises que mais matam
      mulheres no mundo no contexto de violência doméstica. O ranking é feito de 84 países.
    </h2>
  </div></li>

	<li>Uma mulher sofre violência doméstica a cada dois minutos.</li>
  <li>Brasil bateu recordes de registros de estupro</li>
  <li>Uma menina de até 13 anos é estuprada a cada 15 minutos.</li>
  <li>Violência não é só física: agressões psicológicas crescem anualmente</li>
  <li>Quase metade das brasileiras já sofreu assédio sexual no trabalho.</li>
</ul>
