.titulo{
text-align:center;



}
ul.disc {
	list-style-type: disc;
	}

  .modal {
    background-color: rgb(61, 61, 61);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;

  }
  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;

  }
  .fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -10px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
  }

.corpo{
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;

}
.link{
  color: white;

}
.botao{
  display: flex;
  justify-content: center;
  padding: 1%;
}

.corpo1{
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}
