<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Faça Seu Cadastro e receba nossa newsletter</h1>

  <br>


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input matInput disabled value="Digite seu Nome">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Digite seu e-mail</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Digite seu telefone</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>



    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Endereço</mat-label>
        <textarea matInput placeholder="Digite Seu Endereço"></textarea>
      </mat-form-field>
          </p>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex.São Paulo">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Ex. São Paulo">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>CEP</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 0870000" value="">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
  </form>
  <div class="example-button-row">


    <button mat-raised-button color="accent">Confirma</button>

  </div>



</body>

</html>


