<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{sobre?.nome}}</mat-card-title>
    <mat-card-subtitle> Data de publicação da lei: {{sobre?.data}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{sobre?.descricao}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button class="like" mat-button>Curtir <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up_alt</mat-icon> </button>
    <button class="share" mat-button>Compartilhar <mat-icon aria-hidden="false" aria-label="Example home icon">share</mat-icon> </button>
  </mat-card-actions>
  <mat-divider></mat-divider>
</mat-card>

